*{
	margin:0px;
	padding:0px;
}

body {
    color: white;
}

.anchor {
    position: relative;
    top: -150px;
    visibility: hidden;
}

/* css for navigation bar */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  #222222;
    z-index: 150;
}

#navigation {
	text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;  
}

#navigation a{
    display: block;
    text-decoration:none;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.2vw;
    font-weight: bold;
	color:white;
    cursor:pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
}

#navigation a:not(:first-child) {
    margin-left: 3vw;
}

#navigation a:not(:nth-last-child(2)) {
    margin-right: 3vw;
}

#navigation a.icon {
    display: none;
}

li.firstLetter::first-letter{
    font-size: 11px;
}

#navigation a:active{
	color:white;
}

#navigation a:hover{
    color:#af2f5c;
    transition-timing-function: ease-in-out;
}

#navigation .logo {
    margin-top: 5px;
    height: 4vw;
}

#headerInvisible {
    display: none;
    text-align: center;
    -webkit-animation-name: buttons; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: buttons; 
    -moz-animation-duration: 1.5s; 
    -moz-animation-fill-mode: forwards;
    animation-name: buttons;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes buttons {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

@-moz-keyframes buttons {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

#headerInvisible a {
    display: block;
    color: white;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    text-decoration: none;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
	color:black;
    cursor:pointer;
}

@media screen and (max-width: 600px) {
    .header {
        background-color: rgba(0, 0, 0, 0);
    }

    #navigation a {
        display: none;
    }

    #navigation a:first-child {
        position: relative;
        display: block;
        float: left;
        margin-right: 20%;
    }

    #navigation a:first-child img {
        height: 8vw;
    }

    #navigation a.icon {
        display: block;
        float: right;
        margin-top: 1vw;
        margin-left: 40%;
        font-size: 6vw;
    }

    #headerInvisible {
        display: none;
    }

    #headerInvisible.visible {
        display: block;
    }

    #headerInvisible .link {
        margin-top: 2vw;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
}

/* css for index.html */
.container {
    position: relative;
    width: 100%;
}

.part1 {
    background: url(../img/img0.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid rgba(0, 0, 0, 0) 0.1px;
    width: 100%;
}

.part1Container {
    position: relative;
    margin-left: 24%;
    margin-top: 8vw;
    margin-bottom: 5vw;

    -webkit-animation-name: buttons; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: buttons; 
    -moz-animation-duration: 3s; 
    -moz-animation-fill-mode: forwards;
    animation-name: buttons;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes buttons {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

@-moz-keyframes buttons {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.part1Container .welcome {
    font-size: 1.6vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 1vw;
}

.part1Container .try {
    font-size: 3vw;
    margin-top: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.part1Container .try .blue {
    color: #2a98f7;
    font-weight: bolder;
}

.part1Container #hr {
    border-color:white;
    background-color: white;
    color: white;
    border-top: 1px solid white;
    border-bottom: solid 0px white;
    width: 4.8vw;
    margin-top: 1.4vw;
}

.part1Container .book {
    font-size: 1.4vw;
    margin-top: 1.4vw;
    margin-bottom: 1.4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.part1Container .more a {
    border: solid #ec3642 1px;
    border-radius: 2px;
    padding: 0.5vw 1.3vw 0.5vw 1.3vw;
    margin-top: 5px;
    background-color: #ec3642;
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.1vw;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 400ms;
    transition: 400ms;
    letter-spacing: 1px;
    margin-left: 2px;
}

.part1Container .more a:hover {
    border: solid #b11f28 1px;
    background-color: #b11f28;
    transition-timing-function: ease-in-out;
}

.part1 .contactBox {
    width: 20vw;
    height: 8vw;
    margin-top: 5vw;
    margin-left: 3px;
}

.contactBox .youtube {
    width: 2.2vw;
    margin-top: 1.9vw;
    float: left;
    margin-right: 1vw;
}

.contactBox .instagram {
    width: 2.2vw;
    margin-top: 1.5vw;
    margin-right: 1vw;
    float: left;
}

.contactBox .wechat {
    width: 2.15vw;
    margin-top: 1.5vw;
    float: left;
}

.part1 div {
    position: relative;
}

.twopartscontainer {
    background: url(../img/img5.jpg);
    background-size: cover;
}

.part2 {
    height: 32vw;
    width: 100%;
    padding-top: 1.6vw;
    padding-bottom: 4vw;
    background: black;

}

.part2 .box {
    height: 100%;
    width: 57vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
}

.part2 .content {
    text-align: center;
    width: 26vw;
    height: 26vw;
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.part2_1 {
    float: left;
    position: relative;
    margin-right: 5vw;
    background: url("../img/part2_1.jpg");
    background-size: cover;
    background-position: -10vw;
}

.part2_2 {
    float: left;
    position: relative;
    background: url("../img/part2_2.jpg");
    background-size: cover;
    background-position: 0vw -4vw;
}

#part2_1, #part2_2 {
    position: absolute;
    width: 26vw;
    height: 26vw;
    font-size: 4em;
    left: 0;
    top: 0;
    font-family: Roboto, sans-serif;
}

#newpart2_1, #newpart2_2 {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 26vw;
    height: 26vw;
    font-size: 1.5em;
    font-family: Roboto, sans-serif;
}

.part2_1 .part2_1_hide, .part2_1 .newpart2_1_hide, .part2_2 .part2_2_hide, .part2_2 .newpart2_2_hide {
    visibility: visible;
    -webkit-animation-name: part2_1_hide; 
    -webkit-animation-duration: 0.5s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: part2_1_hide; 
    -moz-animation-duration: 0.5s; 
    -moz-animation-fill-mode: forwards;
    animation-name: part2_1_hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 0;
    top: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes part2_1_hide {
    0%    {opacity: 1;}
    100%  {opacity: 0;}
}

@-moz-keyframes part2_1_hide {
    0%    {opacity: 1;}
    100%  {opacity: 0;}
}

.part2_1 .part2_1_show, .part2_1 .newpart2_1_show, .part2_2 .part2_2_show, .part2_2 .newpart2_2_show {
    visibility: visible;
    -webkit-animation-name: part2_1_show; 
    -webkit-animation-duration: 0.5s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: part2_1_show; 
    -moz-animation-duration: 0.5s; 
    -moz-animation-fill-mode: forwards;
    animation-name: part2_1_show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 0;
    top: 0;
    font-family: Roboto, sans-serif;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes part2_1_show {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

@-moz-keyframes part2_1_show {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.homeindex .content {
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7vw;
}

.homeindex .content .boxtitle {
    font-family: 'Rozha One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5vw;
}

.homeindex .content p {
    height: 100%;
    
        /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.indexhr {
    border-color: #db234b;
    background-color: #db234b;
    color: #db234b;
    border-top: 1px solid #db234b;
    border-bottom: solid 0px #db234b;
}

.indexhr_white {
    border-color:white;
    background-color: white;
    color: white;
    border-top: 1px solid white;
    border-bottom: solid 0px white;
}

.part4 {
    height: 53vw;
    background: url(../img/part4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.part4 #content1, .part4 #content3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

.part4 #content1 {
    padding-top: 10vw;
}

.part4 #content3 {
    padding-top: 6vw;
}

.part4 #content2, .part4 #content4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: center;
}

.part4 .more{
    visibility: visible;
    float: right;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 6vw;
}

.part4 .more a {
    border: solid #ec3642 1px;
    border-radius: 2px;
    padding: 0.5vw 1.3vw 0.5vw 1.3vw;
    background-color: #ec3642;
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 400ms;
    transition: 400ms;
    letter-spacing: 1px;
}

.part4 .more a:hover {
    border: solid #b11f28 1px;
    background-color: #b11f28;
    transition-timing-function: ease-in-out;
}

.part5 {
    height: 36vw;
    background: url(../img/part5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px, 200px;
}

.part5 #content1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    padding-top: 10vw;
}

.part5 #content2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: center;
}

.part5 .more{
    visibility: visible;
    float: right;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 5vw;
}

.part5 .more a {
    border: solid #ec3642 1px;
    border-radius: 2px;
    padding: 0.5vw 1.3vw 0.5vw 1.3vw;
    background-color: #ec3642;
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 400ms;
    transition: 400ms;
    letter-spacing: 1px;
}

.part5 .more a:hover {
    border: solid #b11f28 1px;
    background-color: #b11f28;
    transition-timing-function: ease-in-out;
}

.part6 {
    height: 73vw;
    background: url(../img/img5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px, 500px;
    margin-bottom: 4vw;
}

.part6 #hr1, .part6 #hr2 {
    width: 14vw;
    margin-left: auto;
    margin-right: auto;
}

.part6 #hr1 {
    padding-top: 5vw;
    border-top: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-bottom: solid 1.2px white;
}

.part6 #hr2 {
    padding-top: 5vw;
    border-top: 1.2px solid white;
    border-bottom: solid 0px white;
    border-left: 0px solid white;
    border-right: 0px solid white;
}

.part6 #content1, .part6 #content2 {
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2vw;
    font-weight: bold;
}

.part6 .slideContainer {
    position: relative;
    height:37vw;
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.part6 .slideContainer .slides {
    height:100%;
    max-width: 70%;
    display:none;
    margin-left: auto;
    margin-right: auto;
}

.part6 .more{
    visibility: visible;
    float: right;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 5vw;
}

.part6 .more a {
    border: solid #ec3642 1px;
    border-radius: 2px;
    padding: 0.5vw 1.3vw 0.5vw 1.3vw;
    background-color: #ec3642;
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 400ms;
    transition: 400ms;
    letter-spacing: 1px;
}

.part6 .more a:hover {
    border: solid #b11f28 1px;
    background-color: #b11f28;
    transition-timing-function: ease-in-out;
}

#slideshowButton {
    position: fixed;
    top: 40%;
    right: 20px;
    line-height: 30px;  
    z-index: 200;    
    display: block;  
}

.circle {
    cursor:pointer;
    height:10px;
    width:10px;
    border: solid white 2px;
    border-radius:50%;
    display:inline-block;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.indexcircle, .businesscircle, .classescircle {
    cursor:pointer;
    height:10px;
    width:10px;
    border: solid white 2px;
    border-radius:50%;
    display:inline-block;
    -webkit-transition: 500ms;
    transition: 500ms;
}
  
.activeslide, .circle:hover, .indexactiveslide, .indexcircle:hover, .businessactiveslide, .businesscircle:hover, .classesactiveslide, .classescircle:hover {
    background-color:white;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
    #slideshowButton {
        display: none;
    }
}


/* css for joinus.php */
.joinus {
    background-color: black;
}

.containerContact {
    height: 650px;
    padding-top: 120px;
}

.contact #title {
    font-family: 'Rozha One', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #ec3642;
}

.containerContact .contact p {
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.contact form {
    margin-top: 10px;
    line-height: 35px;
    text-align: right;
    margin-right: 20px;
}

.contact input {
    background-color: #191c21;
    color: white;
    height: 20px;
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    border: solid #f2f0b0 2px;
}

.contact textarea {
    background-color: #191c21;
    color: white;
    height: 120px;
    width: 300px;
    padding: 5px;
    border: solid #f2f0b0 2px;
    margin-top: 5px;
}

.contact #button {
    color: white;
    background-color: #db234b;
    border: solid #db234b 1px;
    height: 30px;
    width: 50px;
    margin-right: 5px;
}

.contact #button:hover {
    cursor: pointer;
}


/* css for classes */
.classescontainer .classesPart1Container {
    height: 45vw;
    padding-top: 5vw;

}

.classescontainer .classesPart1Container .classesPart1 {
    background: url(../img/newgraffitiv3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    -webkit-transition: 1000ms;
    transition: 1000ms;
}

.classesPart1Container .classesPart1:hover {
    background: url(../img/newgraffitiv2.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    transition-timing-function: ease-in-out;
}

.classesPart1 .content {
    position: relative;
    width: 37vw;
    height: 23vw;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    top: 11vw;
    padding-top: 1vw;
    visibility: hidden;
}

.classesPart1 .contentActive {
    visibility: visible;
    -webkit-animation-name: classcontent; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: classcontent; 
    -moz-animation-duration: 2s; 
    -moz-animation-fill-mode: forwards;
    animation-name: classcontent;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes classcontent {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

@-moz-keyframes classcontent {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.classesPart1 .content .title {
    text-align: center;
    font-family: 'Caveat', sans-serif;
    font-size: 4vw;
    padding-bottom: 1vw;
}

.classesPart1 .content .content12 {
    padding-top: 1vw;
    text-align: left;
}
.classesPart1 .content .content1 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1vw;
    float: left;
    width: 15vw;
    padding-left: 3.5vw;
}

.classesPart1 .content .content2 {
    position: relative;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1vw;
    float: left;
    width: 14.5vw;
    padding-left: 3.5vw;
    clear: right;
}

.classesPart1 .content .border1 {
    position: absolute;
    top: 7.8vw;
    left: 18.2vw;
    height: 11.7vw;
}

.classesPart1 .content .bottomtitle {
    position: absolute;
    bottom: 1.46vw;
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1vw;
}

.classesPart2 {
    height: 13vw;
    background: black;
    text-align: center;
    padding-top: 4.4vw;

}

.classesPart2 .change {
    font-size: 2.5vw;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.classesPart2 .classesPart2hr {
    margin-top: 1.46vw;
    width: 13vw;
    margin-left: auto;
    margin-right: auto;
    border-color:white;
    background-color: white;
    color: white;
    border-top: 1px solid white;
    border-bottom: solid 0px white;
}

.classescontainer .classeshr {
    margin-left: auto;
    margin-right: auto;
    border-color:white;
    background-color: white;
    color: white;
    border-top: 1px solid white;
    border-bottom: solid 0px white;
}


.classesPart2 .content {
    margin-top: 1.46vw;
    color: gray;
    font-size: 2vw;
    font-family: Raleway, sans-serif;
}

.classesPart3 {
    position: relative;
    height: 46.8vw;
    width: 100%;
    background: url(../img/img7.jpg);
    background-size: cover;
    overflow: hidden;
}

.classesPart3 #part1, .classesPart3 #part2 {
    width: 50%;
    height: 80%;
    float: left;
}

.classesPart3 #part1 img {
    width: 100%;
    float: right;
    clear: both;
}

.classesPart3 .ulbutton {
    float: right;
    margin-top: 6vw;
}


.classesPart3 #part1 ul {
    font-size: 1.2vw;
    margin-right: 14.6vw;
    font-family: Roboto, sans-serif;
}

.classesPart3 .more {
    position: absolute;
    left: 37vw;
    top: 35.5vw;
}

.classesPart3 .more a {
    border: solid #ec3642 1px;
    border-radius: 2px;
    padding: 0.6vw 2vw 0.6vw 2vw;
    margin-top: 0.4vw;
    background-color: #ec3642;
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1vw;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 400ms;
    transition: 400ms;
    letter-spacing: 1px;
    margin-left: 0.2vw;
}

@media screen and (max-width: 600px) {
    .classesPart3 .more {
        position: absolute;
        left: 37vw;
        top: 32vw;
    }
    
    .classesPart3 .more a {
        border: solid #ec3642 1px;
        border-radius: 2px;
        padding: 0.6vw 1.5vw 0.6vw 1.5vw;
        margin-top: 0.4vw;
        background-color: #ec3642;
        color: white;
        text-decoration:none;
        cursor: pointer;
        font-family: 'Maven Pro', sans-serif;
        font-size: 1vw;
        z-index: 50;
        opacity: 1;
        -webkit-transition: 400ms;
        transition: 400ms;
        letter-spacing: 1px;
        margin-left: 0.2vw;
    }
}

.classesPart3 .more a:hover {
    border: solid #b11f28 1px;
    background-color: #b11f28;
    transition-timing-function: ease-in-out;
}


.classesPart3 #part2 img {
    width: 100%;
    float: left;
    margin-top: 3vw;
    clear: both;
}

.classesPart3 #part2 .title {
    font-size: 2.5vw;
    margin-left: 2.93vw;
    margin-top: 3vw;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
}

.classesPart3 #part2 .content {
    font-size: 1.2vw;
    margin-left: 2.93vw;
    margin-top: 3vw;
    font-family: Roboto, sans-serif;
}


.classesPart4 {
    height: 42vw;
    background: url(../img/img7.jpg);
    background-size: cover;
}

.classesPart4 #part1, .classesPart4 #part2 {
    width: 50%;
    height: 100%;
    float: left;
}

.classesPart4 #part1 img {
    width: 100%;
    float: right;
    clear: both;
}

.classesPart4 #part2 .title {
    font-size: 2.5vw;
    margin-top: 3vw;
    margin-left: 3vw;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
}

.classesPart4 #part2 p:not(:first-child) {
    margin-left: 3vw;
}

.classesPart4 #part2 .subtitle {
    font-size: 1.3vw;
    font-family: Roboto, sans-serif;
    margin-bottom: 0.3vw;
    margin-top: 1.8vw;
}

.classesPart4 #part2 .subcontent {
    margin-top: 0.8vw;
    font-size: 1vw;
    font-family: Roboto, sans-serif;
    line-height: 140%;
}

.classesPart4 .more {
    margin-top: 3vw;
    margin-left: 3vw;
}

.classesPart4 .more a {
    border: solid #ec3642 1px;
    border-radius: 2px;
    padding: 0.6vw 2vw 0.6vw 2vw;
    background-color: #ec3642;
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1vw;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 400ms;
    transition: 400ms;
    letter-spacing: 1px;
}

.classesPart4 .more a:hover {
    border: solid #b11f28 1px;
    background-color: #b11f28;
    transition-timing-function: ease-in-out;
}


/* css for trainers.html */
.trainerspart1 {
    background: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid rgba(0, 0, 0, 0) 0.1px;
    height: 650px;
    width: 100%;
}

.trainerspart1 .contactBox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 220px;
    top: 160px;
    text-align: right;
    width: 500px;
    height: 290px;
    margin-top: 50px;
    background: url(../img/white.png);
    padding-right: 15px;
    padding-top: 15px;

    -webkit-animation-name: buttons1; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: buttons1; 
    -moz-animation-duration: 2s; 
    -moz-animation-fill-mode: forwards;
    animation-name: buttons1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes buttons1 {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

@-moz-keyframes buttons1 {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.trainerspart1 .contactBox p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 110%;
}

.trainerspart1 div {
    position: relative;
}

.trainerspart1 ul {
    display:inline-block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.trainerspart1 li:nth-child(1) {
    list-style-type:none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 120px;
    margin-top: 15px;
    white-space: nowrap;
}

.trainerspart1 li:nth-child(2) {
    list-style-type:none;
    display: inline-block;
    margin-left: 120px;
    white-space: nowrap;
}

.trainerspart1 li:nth-child(2) img {
    width: 100px;
}


.trainerspart1 li a{
    text-decoration:none;
    font-family: 'Maven Pro', sans-serif;
    font-size:16px;
    font-weight: bold;
	color:#222222;
    cursor:pointer;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.trainerspart1 .more{
    visibility: visible;
}

.trainerspart1 .more a {
    border: solid #222222 1px;
    border-radius: 2px;
    padding: 8px 50px 8px 50px;
    background-color: rgba(0, 0, 0, 0);
    color: #222222;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 400ms;
    transition: 400ms;
    letter-spacing: 1px;
}

.trainerspart1 .more a:hover {
    border: solid #222222 1px;
    background-color: #222222;
    color: white;
    transition-timing-function: ease-in-out;
}

.trainers #anchor2 {
    position: relative;
    top: -30px;
    visibility: hidden;
}

.trainerspart2 {
    background-color: black;
    padding-left: 13%;
}

.lv1container {
    padding-top: 40px;
}

.lv1container div {
    padding-left: 20px;
    padding-top: 30px;
}

.lv1container img {
    width: 250px;
}

.lv1container .lv1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 38px;
}

.lv1container .name {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    margin-top: 5px;
}

.lv1container .desc {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

.lv2container {
    padding-top: 100px;
    padding-bottom: 100px;   
}

.lv2container div {
    padding-top: 30px;
}

.lv2container img {
    width: 250px;
}

.lv2container .lv2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 35px;
}

.lv2container .name {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    margin-top: 5px;
}

.lv2container .desc {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

.lv2container ul{
    display:inline-block;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-right: 40px;
    margin-left: 20px;
}

.lv2container li{
    list-style-type:none;
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
}

.lv2container li:nth-child(2){
    list-style-type:none;
    display: inline-block;
    white-space: nowrap;
    margin-left: 120px;
    margin-right: 120px;
}

.trainerspart3 {
    background: url(../img/img2.jpg);
    background-size: cover;
    height: 600px;
    padding-left: 25px;
    padding-top: 25px;
}

.trainerspart3 .contactBoxContainer {
    position: relative;
    text-align: right;
    width: 500px;
    height: 200px;
    top: 160px;
    background: url(../img/white.png);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid rgba(0, 0, 0, 0) 1px;
    -webkit-animation-name: buttons1; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: buttons1; 
    -moz-animation-duration: 2s; 
    -moz-animation-fill-mode: forwards;
    animation-name: buttons1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes buttons1 {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

@-moz-keyframes buttons1 {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.trainerspart3 .contactBox p {
    height: 100%;
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.trainerspart3 .contactBox a {
    font-family: 'Maven Pro', sans-serif;
    color: #ec3642;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration:none;
    cursor: pointer;
    -webkit-transition: 600ms;
    transition: 600ms;
}

.trainerspart3 .contactBox a:hover {
    background-color: #ec3642;
    color: white;
    transition-timing-function: ease-in-out;
}

.trainerspart3 div {
    position: relative;
}

.trainerspart3 .contactBox {
    width: 500px;
    height: 200px;
    margin-left: -25px;
    margin-top: -25px;
    border: solid white 1px;
}

.trainerspart3 .inner {
    width: 100%;
    height: 100%;
    margin-left: 25px;
    margin-top: 25px;
}


/* css for program */
.programsHtml, .programsindex {
    height: 100%;
    background-color: black;
}

.programscontainer {
    height: 580px;
    padding-top: 65px;
    text-align: center;
}

.programscontainer .coming {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: bolder;
    color: #ec3642;
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    -webkit-animation-name: coming; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: coming; 
    -moz-animation-duration: 2s; 
    -moz-animation-fill-mode: forwards;
    animation-name: coming;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes coming {
    0%    {opacity: 0; margin-top: 0px;}
    100%  {opacity: 1; margin-top: -50px;}
}

@-moz-keyframes coming {
    0%    {opacity: 0; margin-top: 0px;}
    100%  {opacity: 1; margin-top: 50px;}
}


.programscontainer .ace {
    font-family: 'Raleway', sans-serif;
    float: right;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    margin-top: -310px;
    -webkit-animation-name: ace; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: ace; 
    -moz-animation-duration: 2s; 
    -moz-animation-fill-mode: forwards;
    animation-name: ace;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes ace {
    0%    {opacity: 0; margin-top: -270px;}
    100%  {opacity: 1; margin-top: -300px;}
}

@-moz-keyframes ace {
    0%    {opacity: 0; margin-top: -270px;}
    100%  {opacity: 1; margin-top: -300px;}
}


/* css for business */
.business {
    background: url(../img/business.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.businessPart1 {
    height: 500px;
    padding-top: 80px;
    margin-bottom: 80px;
}

.businessPart1 .slideContainer {
    position: relative;
    height:400px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    overflow: hidden;
}

.businessPart1 .slideContainer .slides {
    height:100%;
    display:none;
    margin-left: auto;
    margin-right: auto;
}

.w3-button {
    border:none;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    outline: none;
    width: 1.5vw;
    height: 6vw;
    font-size: 1.5vw!important;
}

.w3-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}

.w3-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}

.w3-black {
    color:#fff!important;
    background-color:#191c21!important;
    opacity: 0.8;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.w3-black:hover {
    opacity: 1;
    transition-timing-function: ease-in-out;
}

.w3-animate-left {
    position:relative;
    animation:animaterleft 0.7s;
}

@keyframes animaterleft{from{right:-60vw;opacity:0} to{right:0;opacity:1}}



.businessPart2 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    height: 550px;
}

.businessPart2 ul{
    display:inline-block;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.businessPart2 li{
    list-style-type:none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.businessPart2 li:nth-child(2){
    list-style-type:none;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    white-space: nowrap;
}

.businessPart2 ul li .bottom {
    height: 250px;
    width: 250px;
    background-color: #BD2406;
    text-align: center;
}

.businessPart2 ul li .businesstop {
    height: 200px;
    width: 200px;
    background-color: black;
    text-align: center;
    float: right;
    position: relative;
    top: -225px;
    left: -25px;
    opacity: 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.businessPart2 ul li .activebusinesstop {
    height: 200px;
    width: 200px;
    background-color: black;
    text-align: center;
    float: right;
    position: relative;
    top: -225px;
    left: -25px;
    opacity: 1;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.businessPart2 ul p {
    height: 100%;
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.businessPart2 ul .chn {
    font-family: 'Maven Pro', sans-serif;
    font-size: 40px;
}

.businessPart2 ul .eng {
    font-family: 'Maven Pro', sans-serif;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: bold;
    margin-top: 5px;
}

.businessPart2 ul .underscore {
    color: black;
}

.businessPart2 ul .hide {
    visibility: hidden;
}



/* clients */
.clients {
    background: url(../img/img6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.clientsPart1 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    height: 500px;
    top: 50px;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 24px solid #ec3642;
	border-bottom: 12px solid transparent;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 24px solid #ec3642;
	border-bottom: 12px solid transparent;
}

.clientsPart1 ul{
    display:inline-block;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.clientsPart1 li{
    list-style-type:none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.clientsPart1 li:nth-child(2){
    list-style-type:none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    font-family: 'Maven Pro', sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: gray;
}

.businessPart2 ul p {
    height: 100%;
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.clientsPart1 .demo {
    padding-top: 60px;
    height: 200px;
    -webkit-animation-name: demo; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: demo; 
    -moz-animation-duration: 2s; 
    -moz-animation-fill-mode: forwards;
    animation-name: demo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes demo {
    0%    {opacity: 0; margin-top: 90px}
    100%  {opacity: 1; margin-top: 0px}
}

@-moz-keyframes demo {
    0%    {opacity: 0; margin-top: 90px}
    100%  {opacity: 1; margin-top: 0px}
}

.clientsPart1 .demo li{
    list-style-type:none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    height: 240px;
}

.clientsPart1 .demo li:nth-child(2){
    list-style-type:none;
    display: inline-block;
    margin-left: 45px;
    margin-right: 45px;
    white-space: nowrap;
}

.demo img {
    height: 240px;
}

.hr {
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.clientsPart2 .enjoy {
    padding-top: 120px;

}

.enjoy img {
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clientsPart2 .slideContainer {
    position: relative;
    height:450px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    overflow: hidden;
    margin-bottom: 80px;
}

.clientsPart2 .slideContainer .slides {
    height:100%;
    display:none;
    margin-left: auto;
    margin-right: auto;
}



/* css for wechat.html */
.wechatHtml, .wechatindex {
    height: 100%;
}

.wechatcontainer img {
    margin-top: 30px;
}

.wechatcontainer {
    background-color: black;
    height: 520px;
    padding-top: 65px;
    text-align: center;
}


/* css for footer */
.footer {
    position: fixed;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
	font-size:0.9vw;
    color:white;
    background-color: #191c21;
    opacity: 1;
    z-index: 1;
    height: 4.5vw;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer.invisible {
    display: none;
}

.author {
    position: absolute;
    left: 20%;
    margin-top: 2vw;
}

.backtop a {
    color: white;
}

.backtop {
    text-align: right;
    position: absolute;
    right: 20%;
    margin-top: 1.3vw;
}

.footer i {
    font-size: 2vw;
    text-align: end;
    opacity: 0.6;
}

.footer i:hover {
    opacity: 1;
}


